{
    "env": {
        "production": {
            "presets": [
                ["env", {"modules": false}],
                "stage-1"
            ],
            "plugins": [
                "external-helpers",
                "transform-decorators-legacy"
            ]
        },
        "demo": {
            "presets": [
                ["env", {"modules": false}],
                "stage-1",
                "react"
            ],
            "plugins": [
                "react-require",
                "transform-decorators-legacy"
            ]
        },
        "test": {
            "presets": [
                ["env"],
                "stage-1"
            ]
        }
    }
}
